body {
  background-color: #d5654d;
}

button {
  background-color: #CAA0FF;
  border-radius: 15px;
}

results {
    justify-content: space-around;
    padding: 5px;
    border: solid black 5px;
    margin: 5px;
}


p {
   color: white;
  font-size: 25px;
}

h1 {
   color: #EFC176;
  font-size: 60px;

}